// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 30px;
    border: 1px solid #7e7e7e;
    color: #7e7e7e;
    transition: .2s;
    &:hover {
        background-color: #7e7e7e;
        color: #fff;
        text-decoration: none;
    }
}
