<template>
    <div class="messages">
        <tim-message
            v-for="message in messages"
            :message="message"
            :key="message.id"
            :userid="userid"
        ></tim-message>
    </div>
</template>

<script>
    import {eventEmiter} from "../../app";

    export default {
        async beforeMount() {

            this.getParentMessages();

            axios.get('/messages/getCurrentUserId')
                .then(result => {
                    this.userid = result.data;
                });

            window.addEventListener('scroll', () => {
                let endPage = window.scrollY+1 >= document.documentElement.scrollHeight-document.documentElement.clientHeight,
                    lastPage = this.currentPage == this.lastPage;
                if( endPage && !lastPage ) {
                    this.getParentMessages();
                }
            });
        },
        created() {
            eventEmiter.$on('addedNewMessage', (payload)=>{
                if( !('parent_id' in payload) && !payload.parent_id ) {
                    this.messages.unshift(payload);
                }
            });
        },
        data() {
            return {
                messages: [],
                currentPage: 0,
                lastPage: null,
                userid: null,
            }
        },
        computed : {

        },
        methods : {
            getParentMessages() {
                this.currentPage++;
                axios.get( '/messages', { params: { page: this.currentPage } } )
                    .then(result => {
                        this.currentPage = result.data.current_page;
                        this.lastPage = result.data.last_page;
                        this.messages.push(...result.data.data);
                    });
            }
        }
    }
</script>
<style>
    .messages {
        height: 100vh;
    }
</style>
