<template>
    <div class="message"
         :class="{'message__opened': visibleContent}"
    >
        <div class="message-header" @click="toggleContent()">
            <div class="message_header-open-btn">
                <i class="fas "
                   :class="{'fa-chevron-right': !visibleContent, 'fa-chevron-down': visibleContent}"
                ></i>
            </div>
            <h3 class="message_header-title">{{message.created_at}}</h3>
        </div>
        <div class="message-content" :class="{show: visibleContent}">
            <span
                class="message-content_edit"
                v-if="allowEdit"
                @click="editMessage"
            >
                <i class="far fa-edit"></i>
            </span>
            <div class="message-content_text">
                {{message.text}}
                <div
                    class="message-content_response"
                    v-if="hasAuth"
                    @click="reply"
                >
                    Ответить
                </div>
            </div>
            <div v-if="childrenMessages.length" class="message-content_responses">

                <tim-message
                    v-for="message in childrenMessages"
                    :message="message"
                    :key="message.id"
                    :userid="userid"
                ></tim-message>

                <div
                    class="message-content_more"
                    v-if="currentPage !== lastPage"
                    @click="getParentMessages"
                >Загрузить еще</div>

            </div>

        </div>
    </div>
</template>

<script>
    import {eventEmiter} from "../../app";

    export default {
        created() {

            this.getParentMessages();

            eventEmiter.$on('messageUpdated', (payload) => {
                if(payload.id == this.message.id) {
                    this.message.text = payload.text;
                    this.scrollToCurrentComponent();
                }
            });

            eventEmiter.$on('addedNewMessage', (payload)=>{
                if( 'parent_id' in payload && payload.parent_id == this.message.id ) {
                    this.childrenMessages.push(payload);
                    this.scrollToCurrentComponent();
                }
            });
        },
        data() {
            return {
                visibleContent: false,
                childrenMessages: [],
                currentPage: 0,
                lastPage: null,
            }
        },
        props: ['message', 'userid'],
        computed : {
            allowEdit() {
                return this.hasAuth && this.userid == this.message.user_id;
            },
            hasAuth() {
                return this.userid ? true : false;
            }
        },
        methods : {
            toggleContent() {
                this.visibleContent = !this.visibleContent;
            },
            editMessage(){
                eventEmiter.$emit('editMessage', this.message);
            },
            reply() {
                eventEmiter.$emit('replyOnMessage', this.message);
            },
            scrollToCurrentComponent() {
                timScroll(this.$el.offsetTop);
            },
            getParentMessages() {
                if( this.currentPage == this.lastPage ) return;

                this.currentPage++;

                axios.get( '/messages/childrens', { params: { id: this.message.id, page: this.currentPage } } )
                    .then( response => {
                        let messages = response.data.data;
                        this.currentPage = response.data.current_page;
                        this.lastPage = response.data.last_page;
                        if( messages.length && Array.isArray(messages) ) {
                            this.childrenMessages.push(...messages);
                        }
                    });
            }
        }
    }
</script>
<style>
    .message {
        padding: 10px 0 10px 10px;
    }
    .message-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 15px;
        cursor: pointer;
        background-color: #e6e6e6;
    }
    .message_header-open-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .message_header-title {
        flex-grow: 1;
        margin-bottom: 0;
        text-align: center;
        font-size: 18px;
    }
    .message-content {
        position: relative;
        display: none;
        padding-left: 25px;
    }
    .message-content.show {
        display: block;
    }
    .message-content_text {
        padding: 15px 15px 0 15px;
        border: 1px solid #dedede;
    }
    .message-content_responses {
        padding-left: 50px;
    }
    .message-content_edit {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 25px;
        cursor: pointer;
    }
    .message-content_response {
        max-width: 200px;
        margin: 0 auto;
        padding: 5px;
        background-color: #dedede;
        text-align: center;
        cursor: pointer;
    }
    .message-content_more {
        text-align: center;
        cursor: pointer;
    }
</style>
